{% extends 'base.html' %}
{% block body %}
          <h4 class="mt-3 text-primary">Удалить товар</h4>
          <form class="main-form" id="mainForm" action="index.php?page=deletecatalogitem&itemid={{data.0.item_id}}" method="POST">
            <div class="input-group mb-3">
              <span class="input-group-text">ID</span>
              <select class="form-select" name="oid"  id = "oid" required = "required" required>
                {% for i in data %}
                <option  value={{i.item_id}} {%if i.item_id==0.item_id %} selected {% endif %}>{{ i.item_id }}</option>
                {% endfor %}
              </select>
            <div class="input-group mb-3">
              <span class="input-group-text">Название товара</span>
              <input type="text" class="form-control" name="itemname" id="itemname" value = "{{data.0.item_name}}" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Описание товара</span>
              <input type="text" class="form-control" name="textdescription" id="textdescription" value = "{{data.0.description}}" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Цена</span>
              <input type="text" class="form-control" name="itemprice" id="itemprice" value = "{{data.0.price}}" required>
            </div> 
            <div class = "row">
              <div class = "col"><button class = "btn" type = "sumbit" name ="changecatalogitem" id = "changecatalogitem" value = ""> <text> Удалить </text></button></div>
            </div>
          </form>
{% endblock %}
